<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Webapp Siple Front end DEMO</title>
    //- <script src="app.js" defer></script>
  </head>

  <body>
    <h1>Webapp</h1>

    <p>Enter refrence system and cordinates </p>

    <div class="form">
      <label for="refrenceSystem">refrence system: </label>
      <input type="number" min="1" max="10000" required id="refrenceSystem" class="refrenceSystem">
      <label for="cordinates">cordinates: </label>
      <input type="text" require id="cordinates" class="cordinates">
      <input type="Submit" value="Run" class="runSc">
    </div>
    <div>
      <p class="test">
        
      </p>
    </div>

  </body>
</html>